/* Style for the main container */
.aboutContainer {
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Style for the heading */
.aboutContainerh1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Style for the content section */
.aboutContent {
    height: 10px;
    display: flex;

    flex-direction: row;
    max-width: 600px;
    padding: 20px;
    align-items: flex-start;
}

/* Style for the profile image */
.profileImage {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profileImageImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the profile info section */
.profileInfo {
    flex: 1 1 auto;
}

/* Style for the paragraph text in profile info */
.profileInfop {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Style for the skills section */
.skillsList {
    margin-top: 20px;
}

.skillsListh3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.heading{
    color: black;
    justify-content: center;
    align-items: center;
}

.text{
    color: black;
    justify-content: center;
    align-items: center;
}


.skillsListul {
    list-style-type: none;
    padding: 0;
}

.skillsListli {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .aboutContent {
        flex-direction: column;
    }

    .profileImage {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .profileInfo {
        text-align: center;
    }

    .profileImage img {
        width: 150px;
        height: 150px;
    }
}